# Lab | Data Structuring and Combining Data

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

In [11]:
import pandas as pd
import numpy as np

In [ ]:
# -Combine- the data from the three dataframes into a single dataframe, named -"customer_data"-, 
#--using appropriate -merging-, -concatenating-, and -joining techniques-.

# -Verify- that the -customer_data dataframe- contains -all the rows and columns- from the three original dataframes.

In [18]:
# -Combine- the data from the three dataframes into a single dataframe, named -"customer_data"-, 
#--using appropriate -merging-, -concatenating-, and -joining techniques-.

# concatenating:
file1 = pd.read_csv('file1.csv')
file2_clean = pd.read_csv('file2_clean.csv')
file3_clean = pd.read_csv('file3_clean.csv')

df1 = pd.DataFrame(file1)
df2 = pd.DataFrame(file2_clean)
df3 = pd.DataFrame(file3_clean)

customer_data = pd.concat([df1, df2, df3], axis=0, ignore_index=True)
print(customer_data)

       CONTROLN STATE GENDER      HV1    IC1    IC4  HVP1    IC5  POBC1  \
0       44060.0    FL      M   AAA896  392.0  520.0   7.0  21975    6.0
1       96093.0    IL      M   537.00  365.0  473.0   0.0  19387    1.0
2       43333.0    FL      F   725.00  301.0  436.0   3.0  18837   11.0
3       21885.0    NC      M  AAA1095  401.0  413.0   7.0  14014    1.0
4      190108.0    FL      F   995.00  252.0  348.0   0.0  17991    5.0
...         ...   ...    ...      ...    ...    ...   ...    ...    ...
25150       NaN   NaN      M      NaN    NaN    NaN   NaN    NaN    NaN
25151       NaN   NaN      F      NaN    NaN    NaN   NaN    NaN    NaN
25152       NaN   NaN      M      NaN    NaN    NaN   NaN    NaN    NaN
25153       NaN   NaN      M      NaN    NaN    NaN   NaN    NaN    NaN
25154       NaN   NaN      M      NaN    NaN    NaN   NaN    NaN    NaN

       POBC2  ...  Customer          ST  Education  Customer Lifetime Value  \
0       16.0  ...       NaN         NaN        NaN                      NaN
1       89.0  ...       NaN         NaN        NaN                      NaN
2       17.0  ...       NaN         NaN        NaN                      NaN
3       74.0  ...       NaN         NaN        NaN                      NaN
4        6.0  ...       NaN         NaN        NaN                      NaN
...      ...  ...       ...         ...        ...                      ...
25150    NaN  ...   LA72316  California   Bachelor              23405.98798
25151    NaN  ...   PK87824  California    College              3096.511217
25152    NaN  ...   TD14365  California   Bachelor              8163.890428
25153    NaN  ...   UP19263  California    College              7524.442436
25154    NaN  ...   Y167826  California    College              2611.836866

        Income Monthly Premium Auto  Number of Open Complaints  \
0          NaN                  NaN                        NaN
1          NaN                  NaN                        NaN
2          NaN                  NaN                        NaN
3          NaN                  NaN                        NaN
4          NaN                  NaN                        NaN
...        ...                  ...                        ...
25150  71941.0                 73.0                          0
25151  21604.0                 79.0                          0
25152      0.0                 85.0                          3
25153  21941.0                 96.0                          0
25154      0.0                 77.0                          0

          Policy Type  Vehicle Class Total Claim Amount
0                 NaN            NaN                NaN
1                 NaN            NaN                NaN
2                 NaN            NaN                NaN
3                 NaN            NaN                NaN
4                 NaN            NaN                NaN
...               ...            ...                ...
25150   Personal Auto  Four-Door Car         198.234764
25151  Corporate Auto  Four-Door Car         379.200000
25152  Corporate Auto  Four-Door Car         790.784983
25153   Personal Auto  Four-Door Car         691.200000
25154  Corporate Auto   Two-Door Car         369.600000

[25155 rows x 27 columns]

In [27]:
df = pd.DataFrame(file1)

# Get the shape of the DataFrame
shape = df.shape

num_rows = shape[0]
num_columns = shape[1]

print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_columns}")

Number of Rows: 1007
Number of Columns: 17

In [29]:
df = pd.DataFrame(file2_clean)

# Get the shape of the DataFrame
shape = df.shape

num_rows = shape[0]
num_columns = shape[1]

print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_columns}")

Number of Rows: 12074
Number of Columns: 11

In [30]:
df = pd.DataFrame(file3_clean)

# Get the shape of the DataFrame
shape = df.shape

num_rows = shape[0]
num_columns = shape[1]

print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_columns}")

Number of Rows: 12074
Number of Columns: 11

In [20]:
# -Verify- that the -customer_data dataframe- contains -all the rows and columns- from the three original dataframes.

# Verify that the shape matches the sum of shapes of original DataFrames
original_shapes_sum = (df1.shape[0] + df2.shape[0] + df3.shape[0], df1.shape[1])
if customer_data.shape == original_shapes_sum:
    print("The concatenated DataFrame contains all rows and columns of the original DataFrames.")
else:
    print("The concatenated DataFrame does not contain all rows and columns of the original DataFrames.")

The concatenated DataFrame does not contain all rows and columns of the original DataFrames.

In [24]:
customer_data = pd.concat([df1, df2, df3], ignore_index=True)
missing_rows_df1 = customer_data[~customer_data.isin(df1)].dropna()
missing_rows_df2 = customer_data[~customer_data.isin(df2)].dropna()
missing_rows_df3 = customer_data[~customer_data.isin(df3)].dropna()

print("Missing Rows in DataFrame 1:")
print(missing_rows_df1)

print("Missing Rows in DataFrame 2:")
print(missing_rows_df2)

print("Missing Rows in DataFrame 3:")
print(missing_rows_df3)

Missing Rows in DataFrame 1:
Empty DataFrame
Columns: [CONTROLN, STATE, GENDER, HV1, IC1, IC4, HVP1, IC5, POBC1, POBC2, IC2, IC3, AVGGIFT, TCODE, DOB, DOMAIN, TARGET_D, Customer, ST, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Vehicle Class, Total Claim Amount]
Index: []

[0 rows x 27 columns]
Missing Rows in DataFrame 2:
Empty DataFrame
Columns: [CONTROLN, STATE, GENDER, HV1, IC1, IC4, HVP1, IC5, POBC1, POBC2, IC2, IC3, AVGGIFT, TCODE, DOB, DOMAIN, TARGET_D, Customer, ST, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Vehicle Class, Total Claim Amount]
Index: []

[0 rows x 27 columns]
Missing Rows in DataFrame 3:
Empty DataFrame
Columns: [CONTROLN, STATE, GENDER, HV1, IC1, IC4, HVP1, IC5, POBC1, POBC2, IC2, IC3, AVGGIFT, TCODE, DOB, DOMAIN, TARGET_D, Customer, ST, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Vehicle Class, Total Claim Amount]
Index: []

[0 rows x 27 columns]

In [26]:
customer_data = pd.concat([df1, df2, df3], ignore_index=True)
missing_columns_df1 = customer_data[~customer_data.isin(df1)].dropna()
missing_columns_df2 = customer_data[~customer_data.isin(df2)].dropna()
missing_columns_df3 = customer_data[~customer_data.isin(df3)].dropna()

print("Missing Columns in DataFrame 1:")
print(missing_columns_df1)

print("Missing Columns in DataFrame 2:")
print(missing_columns_df2)

print("Missing Columns in DataFrame 3:")
print(missing_columns_df3)

Missing Columns in DataFrame 1:
Empty DataFrame
Columns: [CONTROLN, STATE, GENDER, HV1, IC1, IC4, HVP1, IC5, POBC1, POBC2, IC2, IC3, AVGGIFT, TCODE, DOB, DOMAIN, TARGET_D, Customer, ST, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Vehicle Class, Total Claim Amount]
Index: []

[0 rows x 27 columns]
Missing Columns in DataFrame 2:
Empty DataFrame
Columns: [CONTROLN, STATE, GENDER, HV1, IC1, IC4, HVP1, IC5, POBC1, POBC2, IC2, IC3, AVGGIFT, TCODE, DOB, DOMAIN, TARGET_D, Customer, ST, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Vehicle Class, Total Claim Amount]
Index: []

[0 rows x 27 columns]
Missing Columns in DataFrame 3:
Empty DataFrame
Columns: [CONTROLN, STATE, GENDER, HV1, IC1, IC4, HVP1, IC5, POBC1, POBC2, IC2, IC3, AVGGIFT, TCODE, DOB, DOMAIN, TARGET_D, Customer, ST, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Vehicle Class, Total Claim Amount]
Index: []

[0 rows x 27 columns]

In [31]:
def find_duplicate_columns(df):
    duplicates = df.columns[df.columns.duplicated()]
    return duplicates

duplicates_df1 = find_duplicate_columns(df1)
duplicates_df2 = find_duplicate_columns(df2)
duplicates_df3 = find_duplicate_columns(df3)

print("Duplicate Columns in DataFrame 1:")
print(duplicates_df1)

print("Duplicate Columns in DataFrame 2:")
print(duplicates_df2)

print("Duplicate Columns in DataFrame 3:")
print(duplicates_df3)

Duplicate Columns in DataFrame 1:
Index([], dtype='object')
Duplicate Columns in DataFrame 2:
Index([], dtype='object')
Duplicate Columns in DataFrame 3:
Index([], dtype='object')

In [37]:
# Check column names in the original DataFrames
columns_df1 = set(df1.columns)
columns_df2 = set(df2.columns)
columns_df3 = set(df3.columns)

# Check if column names are identical or in the desired order
if columns_df1 == columns_df2 == columns_df3:
    print("Column names are identical in all DataFrames.")
else:
    print("Column names are not identical in all DataFrames.")

Column names are not identical in all DataFrames.

In [35]:
# Check the number of rows in the original DataFrames
num_rows_df1 = df1.shape[0]
num_rows_df2 = df2.shape[0]
num_rows_df3 = df3.shape[0]

# Check if the number of rows is the same in all DataFrames
if num_rows_df1 == num_rows_df2 == num_rows_df3:
    print("Number of rows is the same in all DataFrames.")
else:
    print("Number of rows is different in the DataFrames.")

Number of rows is different in the DataFrames.

In [36]:
# Check data types in the original DataFrames
dtypes_df1 = df1.dtypes
dtypes_df2 = df2.dtypes
dtypes_df3 = df3.dtypes

# Check if data types are identical or compatible in all DataFrames
if dtypes_df1.equals(dtypes_df2) and dtypes_df1.equals(dtypes_df3):
    print("Data types are identical in all DataFrames.")
else:
    print("Data types are not identical in all DataFrames.")

Data types are not identical in all DataFrames.

In [14]:
# Your code goes here

## Alternative - Bonus

If in the previous lab you created your cleaning and formatting function, or if you want to do it now, instead of using the two clean files provided above, you can use your function to clean and format the data in these two raw files, and work with your clean files instead:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [ ]:
# Your code goes here

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
# This dataset contains information such as
#--demographics, policy details, vehicle information, and the customer's response to the last marketing campaign

In [1]:
# Our goal is to explore and analyze this data by performing: 
    # data cleaning,
    # formatting, 
    # and structuring.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [ ]:
# You work at the marketing department and you want to know which -sales channel- brought the -most sales- 
#--in terms of -total revenue-. 
# Using -pivot-, create a -summary table- showing the -total revenue- for each sales channel
#--(branch, call center, web, and mail). 
    # -Round- the total revenue to 2 decimal points. 
    # -Analyze- the resulting table to draw insights.

In [47]:
# Using -pivot-, create a -summary table- showing the -total revenue- for each sales channel
#--(branch, call center, web, and mail). 
df = pd.DataFrame(marketing_customer_analysis_clean)

# Use pivot to create a summary table
summary_table = df.pivot(index='Category', columns=None, values='Value', aggfunc='sum')

# Display the summary table
print(summary_table)

NameError: name 'marketing_customer_analysis_clean' is not defined

In [48]:
# -Round- the total revenue to 2 decimal points. 
df = pd.DataFrame(marketing_customer_analysis_clean)

# Round all numeric columns to 2 decimal places
df_rounded = df.round(2)

# Display the rounded DataFrame
print(df_rounded)

NameError: name 'marketing_customer_analysis_clean' is not defined

In [ ]:
# -Analyze- the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [ ]:
# Create a -pivot table- that shows the -average customer lifetime value- per -gender- and -education level-.
# -Analyze- the resulting table to draw insights.

In [49]:
# Create a -pivot table- that shows the -average customer lifetime value- per -gender- and -education level-.
df = pd.DataFrame(marketing_customer_analysis_clean)

# Add a column for customer count (you can use your own data)
df['customer_lifetime_value'] = 1

# Create a pivot table to calculate the average customer count per Gender and Education
pivot_table = pd.pivot_table(df, values='customer_lifetime_value', index='gender', columns='education', aggfunc='mean')

# Display the pivot table
print(pivot_table)

NameError: name 'marketing_customer_analysis_clean' is not defined

In [ ]:
# -Analyze- the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here